doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title login
  link(rel='stylesheet' href='css/index.css')
  link(rel='stylesheet' href='css/grid.css')

body 
  .container.position-relative
    .row.flex-between.flex-y-center.vh-100
      .col-lg-8.col-md-6
        .text-ce
          img.login__hero(src='Images/Layer2.png' alt='')
      .col-lg-4.col-md-6
        .login
          .text-center
            img.login__logo(src='Images/XRPL Studio Logo.png' alt='')
            h4.my-1.text-2 Login
          form.form.login__form(action="/auth_login", method="post")
            .form__layer
              label(for='Email') Email
              input.form__input.login__input.rounded.pl-3(type='email' name="email" placeholder='Enter Email')
              img.form__icon(src='Images/mail.png' alt='')
            .form__layer
              label(for='Email') Password
              input.form__input.login__input.rounded.pl-3(type='password' name="password" placeholder='Enter Password')
              img.form__icon(src='Images/locked.png' alt='')
            .form__layer.mt-2
              input.form__input.btn.btn-blue.rounded(type='submit' value='Login')
              h4.my-1.text-2 Not a member? 
                a(href="register") Sign Up now
